[Unit]
Description=Wipe cliphist clipboard history on boot

[Service]
Type=oneshot
ExecStart=/usr/bin/cliphist wipe

[Install]
WantedBy=default.target
